/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('insta.jpg');
    font-family: Arial, sans-serif;
    background-repeat: no-repeat; 
    background-size: cover ;

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-image: url('insta3.jpg');
    background-size: cover;
    background-position: center;
height: 70px; 
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.features {
    padding: 100px 0;
    text-align: center;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.feature {
    margin-bottom: 40px;
}

.feature img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1.2rem;
}

.feature img{
    height: 523px;
    width: 1000px;

}